<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<description>common</description>
	<display-name>common</display-name>
	<welcome-file-list>
		<welcome-file>/login.shtml</welcome-file>
	</welcome-file-list>
	<!-- context-param definition -->
	<context-param>  
	    <param-name>webAppRootKey</param-name>  
	    <param-value>commonApp.root</param-value>  
	</context-param> 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:config/springContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>production</param-value>
	</context-param>
    <context-param>
        <param-name>configFileName</param-name>
        <param-value>pd.properties</param-value>
    </context-param>
	<!-- context-param definition -->
	<!-- listener definition -->
	<listener>
		<listener-class>com.xtt.common.listener.BusinessContextLoaderListener</listener-class>
  	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<!-- listener definition -->
	<!-- filter definition -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.xtt.common.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>excludePath</param-name>
			<param-value>login,logout,loginSubmit,plugin,audio,about,feedback,hardware,showNameAndPictureByInput,downDataHandling</param-value>
		</init-param>
		<init-param>
			<param-name>excludeFile</param-name>
			<param-value>.png,.gif,.jpg,.bmp,.js,.css,.mp3</param-value>
		</init-param>
		<init-param>
			<param-name>needRedirect</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>common_mvc</servlet-name>
	</filter-mapping>
	<!-- filter definition -->
	<!-- servlet definition -->
	<servlet>
		<servlet-name>validator</servlet-name>
		<servlet-class>com.xtt.common.filter.Validator</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>common_mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/config/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>common_mvc</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>common_data_init</servlet-name>
		<servlet-class>com.xtt.common.common.init.DataInit</servlet-class>
		<load-on-startup>3</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<!-- servlet definition -->
	<jsp-config>
		<taglib>
			<taglib-uri>token-tag</taglib-uri>
			<taglib-location>/WEB-INF/token-tag.tld</taglib-location>
		</taglib>
	</jsp-config>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/view/error/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/view/error/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/view/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/view/error/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/view/error/500.jsp</location>
	</error-page>
</web-app>